<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <description>dentistmall</description>
  <display-name>dentistmall</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext*.xml</param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>dentistmall.root</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <!-- 
  <filter>
    <filter-name>opensesessionInview</filter-name>
    <filter-class>com.hsk.supper.until.web.SshOpenSessionInView</filter-class>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>sessionFactory</param-value>
    </init-param>
  </filter>
    <filter-mapping>
    <filter-name>opensesessionInview</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   -->
  <filter>
    <filter-name>platFilter</filter-name>
    <filter-class>com.hsk.supper.until.filter.PagerFilter</filter-class>
    <init-param>
      <param-name>logonStrings</param-name>
      <param-value>EcgWxbaseService;</param-value>
    </init-param>
    <init-param>
      <param-name>includeStrings</param-name>
      <param-value>.htm;.jsp;.login;.Receptionlogin</param-value>
    </init-param>
    <init-param>
      <param-name>redirectPath</param-name>
      <param-value>/jsp/supper/syserror.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>pFilter</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>platFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    <init-param>
      <param-name>cors.supportedMethods</param-name>
      <param-value>GET, POST, HEAD, PUT, DELETE</param-value>
    </init-param>
    <init-param>
      <param-name>cors.maxAge</param-name>
      <param-value>3600</param-value><!--单位秒-->
    </init-param>
    <init-param>
      <param-name>cors.exposedHeaders</param-name>
      <param-value>Content-Range</param-value><!--允许客户端js访问的header-->
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>sessionFilter</filter-name>
    <filter-class>com.hsk.miniapi.FilterApi</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   
  <servlet>
    <servlet-name>websupper</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/applicationContext*.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>websupper</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.obscurificator.impl</param-name>
      <param-value>com.hsk.dentistmall.api.security.NothingGimpyEngine</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.background.clear.from</param-name>
      <param-value>WHITE</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.background.clear.to</param-name>
      <param-value>WHITE</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.string</param-name>
      <param-value>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.length</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.names</param-name>
      <param-value>Arial</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.color</param-name>
      <param-value>blue</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.size</param-name>
      <param-value>14</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.width</param-name>
      <param-value>60</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.height</param-name>
      <param-value>25</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>kaptcha</servlet-name>
    <url-pattern>/codeimage/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/supper/syserror.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/supper/syserror.jsp</location>
  </error-page>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <session-config>
    <session-timeout>360</session-timeout>
  </session-config>
</web-app>