    <script src="/ecgConsole/js/jquery-2.1.1.min.js"></script>
    <script src="/ecgConsole/js/bootstrap.min.js?v=3.4.0"></script>
    <script src="/ecgConsole/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/ecgConsole/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/ecgConsole/js/plugins/layer/layer.min.js"></script>
    <script src="/ecgConsole/js/plugins/mmGrid/js/mmGrid.js"></script>
	<script src="/ecgConsole/js/plugins/mmGrid/js/mmPaginator.js"></script>
	<script src="/ecgConsole/js/plugins/fancybox/jquery.fancybox.js"></script>
	<script src="/ecgConsole/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/ecgConsole/js/plugins/jquery-confirm/js/jquery-confirm.min.js"></script>
	<script src="/ecgConsole/js/plugins/kindeditor/kindeditor.js"></script>
	<script src="/ecgConsole/js/plugins/kindeditor/lang/zh_CN.js"></script>
	
	 
    <script src="/ecgConsole/js/plugins/jQuery-slimScroll-master/prettify/prettify.js"></script>
    <script src="/ecgConsole/js/plugins/jQuery-slimScroll-master/jquery.slimscroll.js"></script>
    <script src="/ecgConsole/js/plugins/highcharts/highstock.js"></script>
    <script src="/ecgConsole/js/plugins/laydate/laydate.js"></script>
    <script src="/ecgConsole/js/plugins/resumable/resumable.js"></script>
 	<script src="/ecgConsole/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/ecgConsole/js/hplus.js?v=3.0.0"></script>
    <script src="/ecgConsole/js/contabs.js"></script>
    <script type="text/javascript"	src="/ecgConsole/js/supper/Xsupper.js"></script>
    <script type="text/javascript"	src="/ecgConsole/js/uitl/mxutils.js"></script>
    <script type="text/javascript"	src="/ecgConsole/javaScript/backstage/index.js"></script>
     
    <link href="/ecgConsole/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link rel="stylesheet"  href="/ecgConsole/js/plugins/dist/css/iriy-admin.min.css">  
    <link href="/ecgConsole/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="/ecgConsole/css/animate.css" rel="stylesheet">
    <link href="/ecgConsole/css/style.css?v=3.0.0" rel="stylesheet">
    <link rel="stylesheet" href="/ecgConsole/css/plugins/chosen/chosen.css">
    <link rel="stylesheet" href="/ecgConsole/js/plugins/fancybox/jquery.fancybox.css" />
    <link rel="stylesheet" href="/ecgConsole/js/plugins/jQuery-slimScroll-master/prettify/prettify.css">
    <link rel="stylesheet"  href="/ecgConsole/js/plugins/kindeditor/themes/default/default.css"> 
    <link rel="stylesheet"  href="/ecgConsole/js/plugins/cropbox/cropbox.css"> 
    <link rel="stylesheet" href="/ecgConsole/js/plugins/mmGrid/css/mmGrid.css">
	<link rel="stylesheet" href="/ecgConsole/js/plugins/mmGrid/css/mmPaginator.css">
	<link rel="stylesheet" href="/ecgConsole/js/plugins/mmGrid/css/mmGrid-bootstrap.css">
	<link rel="stylesheet" href="/ecgConsole/js/plugins/mmGrid/css/mmPaginator-bootstrap.css">
	<link rel="stylesheet" href="/ecgConsole/js/plugins/resumable/style.css">
	
	<link rel="stylesheet" href="/ecgConsole/js/plugins/jquery-confirm/jquery-confirm-master/css/jquery-confirm.css" />
	
	
	<script>  
      $.supper('setbasepath'); 
      $(function(){  
	      $('.scrollbarlist').slimScroll({
		        height: $(window).height()-70+'px', 
		        wheelStep:'1px'
		    });
			$('.scrollbarinfo').slimScroll({
		        height: $(document.body).height()-140,
		         wheelStep:'1px'
		    });
		    
		    $('.scrollbarinfo2').slimScroll({
		        height: 600,
		         wheelStep:'1px'
		    });
	    });
</script> 