.banner {
  height: 400px;
  background: #edf8fe;
  width: 100%
}
.shopping-cart-body .shopping-cart-header {
  height: 85px;
}
.shopping-cart-body .shopping-cart-header .shopping-flow {
  display: flex;
  padding: 0 25px;
}
.shopping-cart-body .shopping-cart-header .shopping-flow .shopping-cart-icon {
  position: relative;
  flex: 1;
}
.shopping-cart-body .shopping-cart-header .shopping-flow .shopping-cart-icon .un {
  position: absolute;
  font-size: 12px;
  /* font-weight: normal; */
  top: 35px;
  left: 70px;
  color: #333;
}
.shopping-cart-body .shopping-cart-header .shopping-flow .shopping-cart-icon .cn {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  top: 12px;
  left: 70px;
  color: #333;
}

.shopping-cart-body .shopping-cart-header .shopping-flow .flow {
  flex: 2;
}
.shopping-cart-body .shopping-cart-header .shopping-flow .flow .ready {
  position: relative;
  display: inline-block;
  width: 88px;
}
.shopping-cart-body .shopping-cart-header .shopping-flow .flow .ready i {
  position: absolute;
  top: 15px;
  font-size: 30px;
  left: 15px;
  text-shadow: 3px 2px 4px gray;
  z-index: 1;
  color: #ddd;
}

.shopping-cart-body .shopping-cart-header .shopping-flow .flow .ready ul {
  position: absolute;
  text-align: center;
  line-height: 50px;
  top: -20px;
}

.shopping-cart-body .shopping-cart-header .shopping-flow .flow .done {
  display: inline-block;
  width: 136px;
  /*width: 188px;*/
  height: 6px;
  background-color: gainsboro;
  position: relative;
  top: 34px;
  margin-left: -55px;
  z-index: 0;
}
.shopping-cart-content {
  box-shadow: 0 0 5px gray;
  margin-bottom: 20px;
  padding: 20px 0;
}
.shopping-cart-content .hd {
  background: url("../images/nav-background.png") no-repeat top left;
  width: 1040px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  display: flex;
}
.shopping-cart-content .hd .hd-left {
  flex: 1;
}
.shopping-cart-content .hd .hd-left input {
  position: relative;
  top: 2px;
  margin: 0 10px 0 32px;
}
.shopping-cart-content .hd .hd-left label {
  color: white;
  font-weight: bold;
}

.shopping-cart-content .hd .hd-right {
  flex: 1;
}
.shopping-cart-content .hd .hd-right label {
  display: inline-block;
  color: white;
  font-weight: bold;
  width: 75px;
  margin-left: 49px;
}
.shopping-cart-content .order {
  width: 1040px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.shopping-cart-content .order .order-header {
  height: 40px;
  line-height: 40px;
  background-color: #f9f9f9;
}
.shopping-cart-content .order .order-header input {
  position: relative;
  top: 2px;
  margin: 0 10px 0 32px;
}
.shopping-cart-content .order .order-header .sale {
  display: inline-block;
  float: right;
  margin-right: 20px;
}
.shopping-cart-content .order .order-body .order-info {
  display: flex;
  height: 98px;
  border-top: 1px solid #ddd;
}
.shopping-cart-content .order .order-body .order-info .left{
  flex: 1;
}
.shopping-cart-content .order .order-body .order-info .left input {
  position: relative;
  top: -15px;
  margin: 0 10px 0 32px;
}
.shopping-cart-content .order .order-body .order-info .left img {
  position: relative;
  top: 15px;
  left: 25px;
  vertical-align: top;
}
.shopping-cart-content .order .order-body .order-info .left ul {
  display: inline-block;
  line-height: 30px;
  margin-left: 70px;
}
.shopping-cart-content .order .order-body .order-info .right {
  flex: 1;
}
.shopping-cart-content .order .order-body .order-info .right div {
  display: inline-block;
  width: 75px;
  margin-left: 49px;
}
.shopping-cart-content .order .order-body .order-info .right .money {
  line-height: 98px;
}

.shopping-cart-content .order .order-body .order-info .right .number span {
  margin-left: -10px;
}
.shopping-cart-content .order .order-body .order-info .right .number span a {
  width: 15px;
  display: inline-block;
  height: 19px;
  background-color: #ddd;
  position: relative;
  top: 1px;
  line-height: 20px;
  text-align: center;
}
.shopping-cart-content .order .order-body .order-info .right .number span .a-left{
  margin-right: -5px
}
.shopping-cart-content .order .order-body .order-info .right .number span .a-right{
  margin-left: -5px
}
.shopping-cart-content .order .order-body .order-info .right .number span input{
  width: 45px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  outline: 0;
  background: #FFF;
  height: 19px;
}
.shopping-cart-content .order .order-body .order-info .right .operation {
  position: relative;
}
.shopping-cart-content .order .order-body .order-info .right .operation p:first-child {
  position: absolute;
  top: -30px;
  cursor: pointer;
}
.shopping-cart-content .order .order-body .order-info .right .operation p:last-child {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.shopping-cart-content .ft {
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
  width: 1040px;
  margin: 0 auto;
  border: 1px solid #ddd;
}
.shopping-cart-content .ft1{
  height: 60px;
  line-height: 60px;
  /*background-color: #0bc176;*/
  width: 1040px;
  margin: 0 auto;
  border: 0px solid #ddd;
}
.shopping-cart-content .ft input {
  position: relative;
  top: 2px;
  margin: 0 10px 0 32px;
}
.shopping-cart-content .ft .delete {
  margin-left: 20px;
  color: #155898;
}
.shopping-cart-content .ft button {
  float: right;
  width: 150px;
  height: 30px;
  border: 2px solid #0bc176;
  border-radius: 5px;
  margin: 15px 10px;
  font-size: 18px;
  font-family: null;
  line-height: 25px;
}
.shopping-cart-content .ft .export {
  background-color: #ffffff;
  color: #0bc176;
}
/*.shopping-cart-content .ft .export:active {*/
  /*background-color: #0bc176;*/
  /*color: #ffffff;*/
/*}*/
.shopping-cart-content .ft .saveOrder {
  background-color: #0bc176;
  color: #ffffff;
}
/*.shopping-cart-content .ft .saveOrder:active {*/
  /*background-color: #0bc176;*/
  /*color: #ffffff;*/
/*}*/
.shopping-cart-content .ft .allOrderInfo {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.l30 {
  margin-left: -30px;
}
.l3 {
  left: 3px;
}
.l10 {
  left: -10px;
}
.l20 {
  margin-left: 20px;
}
.l170 {
  margin-left: 170px;
}
.green {
  color: #0cc076!important;
}

.supplier {
  color: #155898;
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  user-appearance: none;
}